In [1]:
import pandas as pd

/Users/emmanuelprofumo/Desktop/DeepLearningPract/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/emmanuelprofumo/Desktop/DeepLearningPract/venv/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('all/sales_train.csv')

In [6]:
encoding = df.groupby('shop_id').size()

In [8]:
encoding = encoding/len(df)

In [13]:
df["new"] = df.shop_id.map(encoding)

In [14]:
df

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day,new
0,02.01.2013,0,59,22154,999.00,1.0,0.014343
1,03.01.2013,0,25,2552,899.00,1.0,0.063390
2,05.01.2013,0,25,2552,899.00,-1.0,0.063390
3,06.01.2013,0,25,2554,1709.05,1.0,0.063390
4,15.01.2013,0,25,2555,1099.00,1.0,0.063390
5,10.01.2013,0,25,2564,349.00,1.0,0.063390
6,02.01.2013,0,25,2565,549.00,1.0,0.063390
7,04.01.2013,0,25,2572,239.00,1.0,0.063390
8,11.01.2013,0,25,2572,299.00,1.0,0.063390
9,03.01.2013,0,25,2573,299.00,3.0,0.063390
10,03.01.2013,0,25,2574,399.00,2.0,0.063390
11,05.01.2013,0,25,2574,399.00,1.0,0.063390
12,07.01.2013,0,25,2574,399.00,1.0,0.063390
13,08.01.2013,0,25,2574,399.00,2.0,0.063390
14,10.01.2013,0,25,2574,399.00,1.0,0.063390
15,11.01.2013,0,25,2574,399.00,2.0,0.063390
16,13.01.2013,0,25,2574,399.00,1.0,0.063390
17,16.01.2013,0,25,2574,399.00,1.0,0.063390
18,26.01.2013,0,25,2574,399.00,1.0,0.063390
19,27.01.2013,0,25,2574,399.00,1.0,0.063390
20,09.01.2013,0,25,2593,279.00,1.0,0.063390
21,16.01.2013,0,25,2604,299.00,1.0,0.063390
22,27.01.2013,0,25,2604,299.00,1.0,0.063390
23,27.01.2013,0,25,2607,279.00,1.0,0.063390
24,29.01.2013,0,25,2607,279.00,1.0,0.063390
25,27.01.2013,0,25,2609,1699.00,1.0,0.063390
26,06.01.2013,0,25,2548,1708.95,1.0,0.063390
27,26.01.2013,0,25,2611,299.00,1.0,0.063390
28,02.01.2013,0,25,2546,299.00,1.0,0.063390
29,06.01.2013,0,25,2515,1649.00,1.0,0.063390
...,...,...,...,...,...,...,...
2935819,16.10.2015,33,25,7789,1799.00,1.0,0.063390
2935820,22.10.2015,33,25,7790,799.00,1.0,0.063390
2935821,22.10.2015,33,25,7791,899.50,1.0,0.063390
2935822,17.10.2015,33,25,7632,2310.00,1.0,0.063390
2935823,26.10.2015,33,25,7487,299.00,1.0,0.063390
2935824,14.10.2015,33,25,7029,999.00,1.0,0.063390
2935825,23.10.2015,33,25,7460,299.00,1.0,0.063390
2935826,04.10.2015,33,25,7233,599.00,1.0,0.063390
2935827,18.10.2015,33,25,7308,349.00,1.0,0.063390
2935828,21.10.2015,33,25,7233,479.00,1.0,0.063390
2935829,03.10.2015,33,25,7233,599.00,1.0,0.063390
2935830,11.10.2015,33,25,7286,299.00,1.0,0.063390
2935831,22.10.2015,33,25,7187,299.00,1.0,0.063390
2935832,26.10.2015,33,25,7484,299.00,1.0,0.063390
2935833,22.10.2015,33,25,7308,349.00,1.0,0.063390
2935834,29.10.2015,33,25,7235,298.00,1.0,0.063390
2935835,18.10.2015,33,25,7327,349.00,1.0,0.063390
2935836,22.10.2015,33,25,7327,349.00,1.0,0.063390
2935837,24.10.2015,33,25,7328,249.00,1.0,0.063390
2935838,17.10.2015,33,25,7338,349.00,1.0,0.063390
2935839,24.10.2015,33,25,7315,399.00,1.0,0.063390
2935840,31.10.2015,33,25,7409,299.00,1.0,0.063390
2935841,11.10.2015,33,25,7393,349.00,1.0,0.063390
2935842,10.10.2015,33,25,7384,749.00,1.0,0.063390
2935843,09.10.2015,33,25,7409,299.00,1.0,0.063390
2935844,10.10.2015,33,25,7409,299.00,1.0,0.063390
2935845,09.10.2015,33,25,7460,299.00,1.0,0.063390
2935846,14.10.2015,33,25,7459,349.00,1.0,0.063390
2935847,22.10.2015,33,25,7440,299.00,1.0,0.063390
2935848,03.10.2015,33,25,7460,299.00,1.0,0.063390

In [15]:
encoding

shop_id
0     0.003357
1     0.001934
2     0.008853
3     0.008697
4     0.013026
5     0.013004
6     0.028156
7     0.019782
8     0.001162
9     0.001278
10    0.007288
11    0.000170
12    0.011817
13    0.006071
14    0.012596
15    0.020270
16    0.017962
17    0.007817
18    0.018130
19    0.021769
20    0.000610
21    0.019801
22    0.015476
23    0.002372
24    0.018064
25    0.063390
26    0.018363
27    0.035889
28    0.048447
29    0.016767
30    0.017324
31    0.080262
32    0.002707
33    0.001712
34    0.001959
35    0.019907
36    0.000104
37    0.013501
38    0.015673
39    0.004578
40    0.001450
41    0.014295
42    0.037213
43    0.013380
44    0.013465
45    0.012225
46    0.022590
47    0.019311
48    0.007361
49    0.005398
50    0.022199
51    0.015135
52    0.014818
53    0.018026
54    0.048872
55    0.011843
56    0.023698
57    0.039998
58    0.024334
59    0.014343
dtype: float64

In [16]:
from sklearn.preprocessing import LabelEncoder

In [19]:
a  =LabelEncoder()

In [27]:
type(a.fit_transform(df.shop_id)[0])

numpy.int64

In [29]:
type(df.shop_id[0])

numpy.int64

In [24]:
a.fit